<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.star.inf.mapper.MenuMapper">


    <select id="listMenuByUserInfoId" resultType="com.star.inf.entity.Menu">
        SELECT DISTINCT m.id,
                        `name`,
                        `path`,
                        component,
                        icon,
                        is_hidden,
                        parent_id,
                        order_num,
                        create_time
        FROM tb_user_role ur
                 JOIN tb_role_menu rm ON ur.role_id = rm.role_id
                 JOIN tb_menu m ON rm.menu_id = m.id
        WHERE user_id = #{userInfoId}
    </select>

</mapper>
