<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.star.inf.mapper.MomentMapper">

    <select id="listMomentBack" resultType="com.star.inf.dto.MomentDTO">
        SELECT
        m.id,
        moment_content,
        images,
        m.like_count,
        m.is_top,
        m.is_delete,
        m.status,
        m.create_time,
        m.update_time
        FROM
        tb_moment m
        <where>
            is_delete = #{condition.isDelete}
            <if test="condition.status != null">
                and status = #{condition.status}
            </if>
            <if test="condition.keywords != null">
                and moment_content like concat('%', #{condition.keywords}, '%')
            </if>
        </where>
        ORDER BY m.is_top DESC, m.id DESC
        LIMIT #{current},#{size}
    </select>

    <select id="getMomentById" resultType="com.star.inf.dto.MomentDTO">
        select m.id,
               moment_content,
               images,
               avatar,
               m.create_time
        from tb_moment m
                 JOIN tb_user_info ui ON m.user_id = ui.id
        WHERE m.id = #{momentId}
          AND m.status = 1
    </select>

    <select id="getBackMomentById" resultType="com.star.inf.dto.MomentDTO">
        select m.id,
               moment_content,
               images,
               m.is_top,
               m.status,
               m.create_time
        from tb_moment m
                 JOIN tb_user_info ui ON m.user_id = ui.id
        WHERE m.id = #{momentId}
    </select>

    <select id="listHomeMoments" resultType="com.star.inf.dto.MomentDTO">
        select m.id,
               moment_content,
               images,
               m.is_top,
               m.create_time
        from tb_moment m
                 JOIN tb_user_info ui ON ui.id = m.user_id
        WHERE m.status = 1
        ORDER BY m.is_top DESC, m.id DESC
        LIMIT #{current}, #{size}
    </select>

</mapper>
